
body {
	font-family: Helvetica, sans-serif;
}

/*Nav*/

header {
	background-color: #D78BF6;
}
.navbar-header, .navbar-collapse {
	background-color: #D78BF6;
	border-color: none;
	color: white;
	font-size: 20px;
	height: 100px;

}

.navbar-brand img {
	height: 70px;
	width: 30%;
	float: left;
}

.nav li {
	display: inline-table;
	margin-left: 20px;
	top: 0;
	right: 0;
}

/*Body*/
.container {
	width: 100%;
	max-width: 1280px;
	margin: auto;
	height: 100%;
	display: flex;
	align-items: center;
}

.tarjet {
	margin: 40px 0;
	border-radius: 5px;
}

.fondo, .fondo-ocult {
	background-image: url(../img/image.jpg);
	background-size: 100% 100%;
}

.iam .description-img {
	height: 300px;
	width: 25%;
}

.tarjet .perfil img {
	bottom: 50px;
	height: 300px;
	width: 100%;
}

.tarjet .descript {
	left: 0;
}

.port h1, p {
	color: white;
}

.fondo-ocult {
	visibility: hidden;
}

.fondo-ocult {
	visibility: hidden;
}

.perfilhidden {
	visibility: hidden;
}


/*Estilos banner*/
.slider-banner .port img {
	width: 100%;
	vertical-align: top;
	top: 0;
	position: absolute;
}

.descript {
	background-color: transparent;
	color: white;
	top: 40%;
}

/**/
.button button {
	background-color: #0A3141;
	height: 40px;
	border-radius: 7px;
}

.button button a {
	text-decoration: none;
	color: white;
}







.box-ocult {
	margin: 20px;
}

.box-ocult .perfilhidden, .box-ocult .descriptionhidden {
	width: 100%;
	height: 100px;
}

.box-ocult .descriptionhidden {
	margin: 20px;
}

.descriptionhidden {
	margin: 0 60px;
	padding: 0 20px;
}


/*Detail*/
.detail {
	background-color: #F780F6;
	height: 450px;
}

.detail-languaje {
	margin-left: 40px;
}

.detail .icon {
	display: inline-block;
	width: 100%;
}

.icon {
	width: 100%;
	height: 200px;
	left: 25px;
}

.icon .icon-detail img {
	height: 100px;
	width: 50%;
	top: 30px;
}

/*Icon*/

.icon {
	float: left;
}




/*Trabajos realizados*/
.box-work {
	background-color: #33A5B2;
}

.Work {
	background-color: #33A5B2;
	width: 70%;
	left: 20%;
	
	
}


.Work .mywork {
	color: white;
	left: 25%;
}

.Work .detail-work {
	left: 25%;
}

.text-image {
	background-color: #0C101F;
	padding: 10px;
	margin: 20px 0 20px 0;
	box-shadow: 0 0 10px 5px black, -20px 0 50px #0A3141;
	left: 50px;
}

.text-image img {
	width: 100%;
	height: 350px;
	padding: 20px;
	background-size: 100% 100%;
}



/*Estilos redes sociales*/
.footer {
	background-color: #33A5B2;

}

.button button {
	border-style: none;
	color: white;
}

.button button:hover {
	font-size: 25px;
}
.footer .Social {
	margin: 20px 0;
}

.footer .Social a {
	color: white;
}

.footer .Social a:hover {
	font-size: 20px;
}

/*Estilos modales*/

.modal-content {
	top: 70px;
}
.modal-body {
	height: 500px;
	padding: 20px 60px;
}

.modal-body img {
	float: left;
	margin: 20px;
	height: 300px;
	width: 30%;
}

.modal-body p {
	margin: 27px;
}

.modal-title {
	text-align: center;
	font-weight: bolder;
	top: 20px;
}