
body {
	font-family: Helvetica, sans-serif;
}

/*Nav*/

header {
	background-color: #D78BF6;
}
.navbar-header, .navbar-collapse {
	background-color: #D78BF6;
	border-color: none;
	color: white;
	font-size: 20px;
	height: 100px;
	
}

.navbar {
	border-style: solid;
	border-color: #D78BF6;
}
.navbar-brand img {
	height: 70px;
	width: 30%;
	float: left;
}


.nav li {
	display: inline-table;
	margin-left: 20px;
	top: 0;
	right: 0;
	color: #675D5D;
}

.nav li:hover {
	background-color: #A04BE2;
	color: #342486;
}

.active {
	background-color: #A04BE2;
}

/*Body*/
.container-fluid {
	width: 100%;
	max-width: 1280px;
	margin: auto;
	height: 100%;
	display: flex;
	align-items: center;
}

.tarjet {
	margin: 40px 0;
	border-radius: 5px;
	
}

.fondo, .fondo-ocult {
	background-image: url(../img/image.jpg);
	background-size: 100% 100%;
}

.iam .description-img {
	height: 300px;
	width: 25%;
}

.perfil .caract img {
	top: 30px;
	height: 350px;
	width: 100%;
}

.tarjet .descript {
	left: 0;
}

.port h1, p {
	color: white;
}

.fondo {
	height: 700px;
}

.caract {
	margin-top: 20%;
}

/*Estilos banner*/
.slider-banner .port img {
	width: 100%;
	vertical-align: top;
	top: 0;
	position: absolute;
}

.descript {
	background-color: transparent;
	color: white;
	top: 40%;
	box-sizing: border-box;
}

/**/
.button button {
	background-color: #0A3141;
	height: 40px;
	border-radius: 7px;
}

.button button a {
	text-decoration: none;
	color: white;
}


/*Detail*/
.detail {
	background-color: #F780F6;
	height: 600px;
	margin-top: auto;
}

.detail-languaje {
	margin-left: 40px;
}

.detail-languaje h2 {
	margin-top: -200px;
}

.detail .icon {
	display: inline-block;
	width: 100%;
}

.icon {
	width: 100%;
	height: 200px;
	left: 25px;
}

.icon-detail {
	box-sizing: border-box;
	top: 70px;
}

.icon .icon-detail img {
	height: 100px;
	width: 50%;
	top: 30px;
}

/*Icon*/

.icon {
	float: left;
}




/*Trabajos realizados*/
.box-work {
	background-color: #33A5B2;
}

.Work {
	background-color: #33A5B2;
	width: 70%;
	left: 20%;
	
	
}


.Work .mywork {
	color: white;
	left: 25%;
}

.Work .detail-work {
	left: 25%;
}

.text-image {
	background-color: #0C101F;
	padding: 10px;
	margin: 20px 0 20px 0;
	box-shadow: 0 0 10px 5px black, -20px 0 50px #0A3141;
	left: 50px;
}

.text-image img {
	width: 100%;
	height: 350px;
	padding: 20px;
	background-size: 100% 100%;
}



/*Estilos redes sociales*/
.section-foot {
	background-color: #33A5B2;
}

.button button {
	border-style: none;
	color: white;
}

.slide-socials {
	width: 100%;
}


.footer .Social {
	margin: 20px 0;
}

.footer .Social a {
	color: white;
}

.footer .Social a:hover {
	font-size: 20px;
}


/*Estilos modales*/
.modal {
	height: 500px;
	width: 100%
	color: black;
	background-color: #A88787;
	top: -30px;
}

.modal-body {
	height: 300px;
	padding: 20px 60px;
}

.modal-body .img-modal img {
	float: left;
	height: 200px;
	width: 100%;
}

.modal-body .text-modal p {
	margin: 27px;
	color: #276B88;
	width: 100%;
	font-size: 12px;
}

.modal-title {
	text-align: center;
	font-weight: bolder;
	top: 20px;
	color: black;
}
.modal-footer .Social {
	text-align: center;
}

.modal-footer .Social a {
	color: #276B88;
	
}




